{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>能近取譬</title>
	<meta http-equiv="Content-Type" content="text/html" charset="gb2312" />
	<link href="{% static 'blog/style.css' %}" rel="stylesheet" type="text/css" />
	<!--script type="text/javascript" src="{% static 'blog/js/cufon-yui.js' %}"></script-->
	<!--script type="text/javascript" src="{% static 'blog/js/arial.js' %}"></script-->
	<script type="text/javascript" src="{% static 'blog/js/cuf_run.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/js/jquery-1.3.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/js/radius.js' %}"></script>
	<!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script-->
	<!-- CuFon ends -->
</head>
<body>
	<div class="main">
		<div class="header">
			<div class="header_resize">
				<div class="logo"><h1><a href="index.html">能近取譬</a> <small>向文彬的个人博客</small></h1></div>
				{% if user.is_authencated %}
				<p>欢迎您，{{user.username}}!<a href="{% url 'django.contrib.auth.views.logout' %}">登出</a></p>
				{% else %}
				<p>欢迎您，游客!<a href="{% url 'django.contrib.auth.views.login' %}">登录</a></p>
				{% endif %}
			        <div class="menu_nav">
					<ul id='nav'>
          					<li class="current"><a href={% url 'blogs:index' %}>主页</a></li>
          					<li><a href="{% url 'blogs:list' %}">博客</a>
							<ul>	
								<li><a href={% url 'blogs:list' %}>博客列表</a></li>
								<li><a href={% url 'blogs:edit' %}>新建博客</a></li>
							</ul>
						</li>
          					<li><a href="support.html">老婆的淘宝店</a></li>
          					<li><a href="about.html">关于我</a></li>
        				</ul>
      				</div>
      				<div class="clr"></div>
    			</div>
  		</div>
		<div class="content">
    			<div class="content_resize">
      				<div class="mainbar">
				{% block content %}
				{% endblock %}
				</div>
				<div class="sidebar">
        				<div class="searchform">
          					<form id="formsearch" name="formsearch" method="post" action="">
            						<span><input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" /></span>
            						<input name="button_search" src="{% static 'blog/images/search_btn.gif' %}" class="button_search" type="image" />
          					</form>
        				</div>
        				<div class="gadget">
          					<h2 class="star"><span>最热博文排行榜</span></h2><div class='clr'></div>
          					<ul class="sb_menu">
            						{% for blog in mblogs %}
							<li><a href={% url 'blogs:detail' blog.id %}>{{blog.title}}({{blog.visitors}})</a></li>
							{% endfor %}
          					</ul>
        				</div>
        				<div class="gadget">
          					<h2 class="star"><span>友情链接</span></h2><div class='clr'></div>
          					<ul class="ex_menu">
            						<li><a href="http://www.baidu.com" title="Website Templates">百度</a></li>
          					</ul>
        				</div>
      				</div>
      				<div class='clr'></div>
    			</div>
		</div>
		<div class="fbg">
    			<div class="fbg_resize">
      				<div class="col c1">
        				<h2><span>图集</span></h2>
        				<a href="#"><img src="{% static 'blog/images/pix1.jpg' %}" width="58" height="58" alt="pix" /></a>
        				<a href="#"><img src="{% static 'blog/images/pix2.jpg' %}" width="58" height="58" alt="pix" /></a>
        				<a href="#"><img src="{% static 'blog/images/pix3.jpg' %}" width="58" height="58" alt="pix" /></a>
        				<a href="#"><img src="{% static 'blog/images/pix4.jpg' %}" width="58" height="58" alt="pix" /></a>
        				<a href="#"><img src="{% static 'blog/images/pix5.jpg' %}" width="58" height="58" alt="pix" /></a>
        				<a href="#"><img src="{% static 'blog/images/pix6.jpg' %}" width="58" height="58" alt="pix" /></a>
      				</div>
      				<div class="col c2">
        				<h2><span>天上的星斗参北斗</span></h2>
        				<p>我喜欢你老婆</p>
      				</div>
      				<div class="col c3">
        				<h2><span>联系我</span></h2>
        				<p>qq:809243901</p>
        				<p><a href="mailto:support@yoursite.com">tmyyss@163.com</a></p>
      				</div>
      				<div class='clr'></div>
    			</div>
  		</div>
		<div class="footer">
    			<div class="footer_resize">
      				<p class="lf">&copy; Copyright <a href="/">能近取譬</a></p>
      				<ul class="fmenu">
        				<li class="active"><a href="/">主页</a></li>
        				<li><a href="support.html">老婆的淘宝店</a></li>
        				<li><a href="blog.html">关于我</a></li>
      				</ul>
      				<div class='clr'></div>
    			</div>
  		</div>
	</div>
</body>
</html>
