{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>能近取譬</title>
	<meta http-equiv="Content-Type" content="text/html" charset="gb2312" />
	<link href="{% static 'blog/style.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- CuFon ends -->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8"><h1><a href="/">能近取譬</a> <small>向文彬的个人博客</small></h1></div>
			<div class='col-md-4'>
			{% if user.is_authenticated %}
			<p>欢迎您，{{user.username}}!<a href="{% url 'django.contrib.auth.views.logout' %}">登出</a></p>
			{% else %}
			<p>欢迎您，游客!<a href="{% url 'django.contrib.auth.views.login' %}">登录</a></p>
			{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="nav" role="navigation">
					<ul class='nav nav-tabs'>
          					<li role='prensentation' class="active"><a href="{% url 'blogs:index' %}">主页</a></li>
          					<li role="prensentation"><a href="{% url 'blogs:list' %}">博客</a></li>
          					<li role="presentation" ><a href="http://shop102757287.taobao.com/?spm=a230r.7195193.1997079397.2.whO1jy">老婆的淘宝店</a></li>
          					<li role="presentation" ><a href="about.html">关于我</a></li>
					</ul>
      				</div>
    			</div>
  		</div>
	</div>



	<div class="container">
		<div class="row">
    			<div class="col">
      				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
				<div class="col-md-3">
        				<div class="input-group">
          					<input type="text" class="form-control" placeholder="搜索...">
            					<span class="btn btn-default">
							<button class="btn btn-default" type="button">搜索</button>
						</span>
        				</div>
          				<h4><span>最热博文排行榜</span></h4>
            				{% for blog in mblogs %}
					<p><a href={% url 'blogs:detail' blog.id %}>{{blog.title}}({{blog.visitors}})</a></p>
					{% endfor %}
          				<h4><span>友情链接</span></h4>
            				<a href="http://www.baidu.com" title="Website Templates">百度</a>
      				</div>
    			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
      				<p class="lf">&copy; Copyright <a href="/">能近取譬</a></p>
			</div>
		</div>
	</div>
</body>
</html>
