{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>能近取譬</title>
	<meta http-equiv="Content-Type" content="text/html" charset="gb2312" />
	<link href="{% static 'blog/style.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
	<!-- CuFon ends -->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8"><h1><a href="/">能近取譬</a></h1></div>
			<div class='col-md-4'>
			{% if user.is_authenticated %}
			<p>欢迎您，{{user.username}}!<a href="{% url 'django.contrib.auth.views.logout' %}">登出</a></p>
			{% else %}
			<p>欢迎您，游客!<a href="{% url 'django.contrib.auth.views.login' %}">登录</a></p>
			{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="nav" role="navigation">
					<ul class='nav nav-tabs'>
          					<li role='prensentation' class="active"><a href="{% url 'blog:index' %}">主页</a></li>
          					<li role="prensentation"><a href="{% url 'blog:list' %}">博客</a></li>
          					<li role="presentation" ><a href="http://shop102757287.taobao.com/?spm=a230r.7195193.1997079397.2.whO1jy">老婆的淘宝店</a></li>
          					<li role="presentation" ><a href="{% url 'blog:aboutme' %}">关于我</a></li>
					</ul>
      				</div>
    			</div>
  		</div>
	</div>



	<div class="container">
		<div class="row">
    			<div class="col">
      				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
				<div class="col-md-4">
					<div id="searchbox">
						<form action="{% url 'blog:search' %}" method="get">
        						<div class="content">
            							<label>
                							<input type="text" class="textfield searchtip" name="q" size="20" value="">
            							</label>
            							<input type="submit" class="button" value="搜索">
       		 					</div>
    						</form>
					</div>
          				<h4><span>最热博文排行榜</span></h4>
            				{% for blog in mblogs %}
					<p><a href={% url 'blog:detail' blog.pk %}>{{blog.title}}({{blog.visitors}})</a></p>
					{% endfor %}
          				<h4><span>友情链接</span></h4>
            				<a href="http://www.baidu.com" >百度</a>
      				</div>
    			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
      				<p class="lf">&copy; Copyright <a href="/">能近取譬</a></p>
			</div>
		</div>
	</div>
</body>
</html>
