<!DOCTYPE html>
{% load staticfiles %}
<link rel='stylesheet' type='text/css' href='{% static 'blog/style.css' %}' />
<html>
	<head>
		<title>My Blog</title>
	</head>
	<body>	
		<a href={% url 'blogs:edit' %}>edit</a>
		{% if blogs %}
		{% for blog in blogs %}
		<a href={% url 'blogs:detail' blog.id %}><h2>{{blog.title}}</h2></a>
		<p>Published {{blog.published_time}}</p>
		<p>{{blog.text | linebreaks|truncatechars:100}}
		<a href={% url 'blogs:detail' blog.id %}>readmore</a>
		</p>
		{% endfor %}
		{% else %}
		<p>No blog was published</p>
		{% endif %}

		<div class="pagination">
			<span class="step-links">
			        {% if blogs.has_previous %}
			        	<a href="?page={{ contacts.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	        	Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
	        </span>

        	{% if blogs.has_next %}
                	<a href="?page={{ blogs.next_page_number }}">next</a>
	        {% endif %}
			</span>
		</div>
	</body>
</html>
