{% extends 'blog/base.html' %}
{% block content %}
        {% if query %}
            <h3>Results</h3>

            {% for blog in blogs %}
                <p>
                    <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
  



{% if blogs %}
	{% for blog in blogs %}
		<a href="{% url 'blog:detail' pk=blog.pk %}" ><h4>{{blog.title}}</h4></a>
		<p>{{blog.text|linebreaks|truncatechars:90}}</p>
	{% endfor %}
{% else %}
	<p>No searched</p>
{% endif %}
{% endblock %}
